.Button {
  background-color: darkorange;
  /* background-color: #333; */
  width: 6.875rem;
  height: 6.875rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.813rem;
  cursor: pointer;
}

.Button.zero {
  width: 15.625rem;
  grid-column: 1 / span 2;
  border-radius: 3.563rem;
  position: relative;
  justify-content: flex-start;
  padding-left: 1 rem;
}
