* {
  background-color: transparent;
}

.App {
  /* background: #16edff;
  background: -webkit-linear-gradient(top right, #16edff, #8b2dde);
  background: -moz-linear-gradient(top right, #16edff, #8b2dde);
  background: linear-gradient(to bottom left, #16edff, #8b2dde); */

  background-color: rgb(59, 59, 59);
  /* width: 35rem; */
  height: 76.125rem;
  counter-reset: #fff;
  border-radius: 3.125rem;
  padding: 1.25rem;
  margin: 0 auto;
  position: relative;
}
.top {
  height: 1rem;
  width: 35rem;
  margin: 0 auto;
  padding: 0 rem;
  color: antiquewhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.display {
  width: 100%;
  font-size: 8.125rem;
  margin-bottom: 0rem;
  background-color: transparent;
  font-weight: 18.75rem;
  text-align: center;
  color: wheat;
}
.buttons {
  display: grid;
  background-color: transparent;
  width: 35rem;
  margin: 0 auto;
  grid-gap: 1.25rem;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
}
.buttom {
  position: absolute;
  width: 200px;
  height: 5px;
  background: wheat;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}
